/* General styling */
body, html, * {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* Table */
.sexy-table {
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sexy-table table {
    width: 100%;
    user-select: none;
    border: none;
    border-collapse: collapse;
}

.sexy-table tbody tr {
    cursor: pointer;
    transition: background-color 0.5s;
}

.sexy-table tbody tr:hover {
    background-color: #0000001a;
    transition: none;
}

.sexy-table td {
    width: 30px;
    padding: 8px 3px;
}

.sexy-table td:first-child {
    padding-left: 20px;
}

.sexy-table td:last-child {
    padding-right: 20px;
}

.sexy-table tr:first-child td {
    padding-top: 10px;
}

.sexy-table tr:last-child td {
    padding-bottom: 10px;
}

#explorer td:nth-child(3) {
    max-width: 99%;
    width: unset;
}

#queue td:first-child {
    max-width: 99%;
    width: unset;
}

#queue td:nth-child(2),
#queue td:nth-child(3) {
    width: 90px;
}

/* Error */
#error {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: auto;
    padding: 10px;
    height: auto;

    background-color: rgb(255, 56, 56);
    color: white;
    border-radius: 7px;
    font-size: 1.2em;

    animation: hide 0s linear 5s forwards;
    animation-fill-mode: forwards;
}

@keyframes hide {
    to {
        opacity:0;
    }
}