/* General styling */
body, html, * {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
    max-width: 800px;
    margin: auto;
}

header {
    margin: 20px;
}

header h1 {
    border-bottom: solid gainsboro 1px;
    padding-bottom: 10px;
}

h1 .small {
    font-size: 0.4em;
    font-style: italic;
    color: gray;
    font-weight: lighter;
}

h2 {
    margin: 20px;
    color: rgb(46, 46, 46);
}

/* Table */
.sexy-table {
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.sexy-table table {
    width: 100%;
    user-select: none;
    border: none;
    border-collapse: collapse;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sexy-table tr {
    cursor: pointer;
    transition: background-color 0.5s;
    display: flex;
}

.sexy-table tr:hover {
    background-color: #0000001a;
    transition: none;
}

.sexy-table td {
    flex: 0 0 20px;
    padding: 8px 3px;
    white-space: nowrap;
    box-sizing: content-box;
    line-height: 1.2;
}

.sexy-table td:first-child {
    padding-left: 20px;
}

.sexy-table td:last-child {
    padding-right: 20px;
}

.sexy-table tr:first-child td {
    padding-top: 10px;
}

.sexy-table tr:last-child td {
    padding-bottom: 10px;
}

/* Specific table styling */

#explorer td:nth-child(3) {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#explorer .size {
    flex: 0 1;
}

#queue td:nth-child(2) {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#queue td:nth-child(3),
#queue td:nth-child(4) {
    flex-basis: 95px;
}

/* Error */
#error {
    position: fixed;
    right: 20px;
    bottom: 20px;
    left: 20px;
    width: auto;
    padding: 10px;
    height: auto;

    background-color: rgb(255, 56, 56);
    color: white;
    border-radius: 7px;
    font-size: 1.2em;

    animation: hide 0s linear 5s forwards;
    animation-fill-mode: forwards;
}

@keyframes hide {
    to {
        opacity:0;
    }
}