/* General styling */
body, html, * {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
    max-width: 800px;
    margin: auto;
}

header {
    margin: 20px;
}

header h1 {
    border-bottom: solid gainsboro 1px;
    padding-bottom: 10px;
}

h1 .small {
    font-size: 0.4em;
    font-style: italic;
    color: gray;
    font-weight: lighter;
}

h2 {
    margin: 20px 0;
    color: rgb(46, 46, 46);
}

section {
    margin: 20px;
}

/* Table */
.sexy-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    user-select: none;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sexy-table tr {
    cursor: pointer;
    transition: background-color 0.5s;
    display: flex;
}

.sexy-table tr:hover {
    background-color: #0000001a;
    transition: none;
}

.sexy-table td {
    flex: 0 0 24px;
    padding: 8px 3px;
    white-space: nowrap;
    box-sizing: content-box;
    line-height: 1.2;
}

.sexy-table td:first-child {
    padding-left: 15px;
}

.sexy-table td:last-child {
    padding-right: 15px;
}

.sexy-table tr:first-child td {
    padding-top: 10px;
}

.sexy-table tr:last-child td {
    padding-bottom: 10px;
}

.sexy-table + .spinner {
    display: none;
}

.sexy-table.loading + .spinner{
    display: block;
}

/* Specific table styling */

#explorer .name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#explorer .size {
    flex: 0 1;
}

#explorer .size.incomplete {
    color: rgb(199 0 0);
}

#queue .name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#queue .progress,
#queue .total {
    flex-basis: 95px;
}

/* Error */
#messages {
    position: fixed;
    right: 20px;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    pointer-events: 0;
}

.message {
    width: auto;
    height: auto;
    pointer-events: initial;
    text-align: end;

    color: white;
    border-radius: 7px;
    font-size: 1.2em;
    padding: 8px;
    margin-top: 5px;

    animation: hide 0.5s linear 5s forwards;
    animation-fill-mode: forwards;
}
.error {
    background-color: rgb(255, 56, 56);
}

.success {
    background-color: rgb(92 136 66);;
}

@keyframes hide {
    0% {
        opacity :1;
    }
    99% {
        opacity:0;
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

/* Spinkit spinner */
/* https://tobiasahlin.com/spinkit/ */
.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 20px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #868686ad;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }